node_modules
.DS_Store
*.log
dist
*.tsbuildinfo
*.lerna_backup
packages/utils/cache
.pnpm-store


**/.vscode/*
!**/.vscode/tasks.json
!**/.vscode/settings.template.json
!**/.vscode/launch.json
!**/.vscode/extensions.json
