name: Check parse results
#description: Confirm check parse results and the DT repo are in sync, to avoid potential DT CI outages.
on:
  workflow_call:
  workflow_dispatch:

env:
  CI: true
  PNPM_CACHE_FOLDER: .pnpm-store

jobs:
  check-parse-results:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 'lts/*'
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - run: pnpm config set store-dir $PNPM_CACHE_FOLDER
      - run: pnpm install
      - run: pnpm build
      - name: Check parse results
        run: pnpm run --filter @definitelytyped/dtslint-runner check-parse-results
      - if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ github.job }}
          path: packages/definitions-parser/data/
