name: Deploy mergebot to Azure

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  NODE_VERSION: '18.x' # set this to the node version to use (supports 8.x, 10.x, 12.x)
  RESOURCE_GROUP_NAME: dtmergebot3
  FUNCTION_APP_NAME: dtmergebot3
  STORAGE_ACCOUNT_NAME: dtmergebot3b1b7
  STORAGE_CONTAINER_NAME: deployment
  FUNCTION_ZIP_NAME: function.zip

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}

      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0

      - name: Install and test
        run: |
          pnpm install
          pnpm run --if-present build
          pnpm run --if-present test
      - name: Bundle
        working-directory: packages/mergebot
        run: pnpm run bundle

      - name: Check bundle
        run: BOT_AUTH_TOKEN=secret node packages/mergebot/dist/functions/index.js

      - name: Create zip
        working-directory: packages/mergebot
        run: zip -r ${{ github.workspace }}/${{ env.FUNCTION_ZIP_NAME }} dist host.json package.json

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: node-app
          path: ${{ env.FUNCTION_ZIP_NAME }}

  deploy:
    runs-on:
      - "self-hosted"
      - "1ES.Pool=TypeScript-1ES-GitHub-Deploys"
      - "1ES.ImageOverride=mariner-2.0"
    needs: build
    environment:
      name: 'Production'
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: node-app

      - uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
  
      - name: Upload blob
        run: az storage blob upload -f ${{ env.FUNCTION_ZIP_NAME }} --account-name ${{ env.STORAGE_ACCOUNT_NAME }} -c ${{ env.STORAGE_CONTAINER_NAME }} -n ${{ env.FUNCTION_ZIP_NAME }} --overwrite true --auth-mode login

      # - name: Set package path
      #   run: az functionapp config appsettings set -g ${{ env.RESOURCE_GROUP_NAME }} -n ${{ env.FUNCTION_APP_NAME }} --settings WEBSITE_RUN_FROM_PACKAGE="https://${{ env.STORAGE_ACCOUNT_NAME }}.blob.core.windows.net/${{ env.STORAGE_CONTAINER_NAME }}/${{ env.FUNCTION_ZIP_NAME }}"

      - name: Restart app
        run: az functionapp restart -g ${{ env.RESOURCE_GROUP_NAME }} -n ${{ env.FUNCTION_APP_NAME }}
