on:
  workflow_dispatch:
    inputs:
      checkout:
        description: ref to deploy
        required: true
        default: master
  repository_dispatch:
    types: [published]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.inputs.checkout || 'master' }}
    - uses: actions/setup-node@v2
      with:
        node-version: 14
    - name: install
      run: yarn install --frozen-lockfile
    - name: lint
      run: yarn lint
    - name: test
      run: yarn test
    - name: copy yarn.lock
      run: cp yarn.lock packages/publisher/
    - name: deploy publisher
      uses: azure/functions-action@v1.4.8
      with:
        app-name: types-publisher
        slot-name: production
        publish-profile: ${{ secrets.TYPESPUBLISHERFUNCTIONSPUBLISHPROFILE }}
        package: packages/publisher
        scm-do-build-during-deployment: true
        enable-oryx-build: true
    - name: upload artifacts
      if: always()
      uses: actions/upload-artifact@v1
      with:
        name: temp
        path: /home/runner/work/_temp
