name: Publish Packages

on:
  workflow_dispatch:
  schedule:
    - cron: '*/30 * * * *' # every 30 minutes

# publishing can take longer than 30 minutes but we never want to
# run more than one publish job at a time
concurrency: 1

env:
  CI: true
  PNPM_CACHE_FOLDER: .pnpm-store

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
      - run: npm install -g pnpm
      - run: pnpm config set store-dir $PNPM_CACHE_FOLDER
      - run: pnpm install --frozen-lockfile
      - run: pnpm build
      - uses: actions/cache/restore@v3
        with:
          path: ./cache
          key: pacote-cache-${{ github.run_id }}-${{ github.run_attempt}}
          restore-keys: pacote-cache-

      - uses: actions/checkout@v4
        with:
          repository: 'DefinitelyTyped/DefinitelyTyped'
          path: 'DefinitelyTyped'
      - run: pnpm install
        working-directory: DefinitelyTyped

      - run: node packages/publisher/dist/run.js --path DefinitelyTyped
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TYPES_TOKEN: ${{ secrets.NPM_TYPES_TOKEN }}
      - uses: actions/cache/save@v3
        if: always()
        with:
          path: ./cache
          key: pacote-cache-${{ github.run_id }}-${{ github.run_attempt}}
