name: Publish Packages

on:
  workflow_dispatch:
  schedule:
    - cron: '*/30 * * * *' # every 30 minutes

# publishing can take longer than 30 minutes but we never want to
# run more than one publish job at a time
concurrency: publish-packages

env:
  CI: true

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 'lts/*'

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Get pnpm cache info
        id: pnpm-cache
        shell: bash
        run: echo "store=$(pnpm store path)" >> $GITHUB_OUTPUT
      - uses: actions/cache/restore@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ${{ steps.pnpm-cache.outputs.store }}
          key: ${{ runner.os }}-pnpm-store-cache-${{ github.run_id }}-${{ github.run_attempt }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-cache-

      - run: pnpm install --frozen-lockfile
      - run: pnpm build
      - uses: actions/cache/restore@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ./cache
          key: pacote-cache-${{ github.run_id }}-${{ github.run_attempt }}
          restore-keys: pacote-cache-

      - run: node packages/publisher/dist/run.js
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TYPES_TOKEN: ${{ secrets.NPM_TYPES_TOKEN }}
      - uses: actions/cache/save@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        if: always()
        with:
          path: ./cache
          key: pacote-cache-${{ github.run_id }}-${{ github.run_attempt }}

      - run: pnpm store prune
      - uses: actions/cache/save@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ${{ steps.pnpm-cache.outputs.store }}
          key: ${{ runner.os }}-pnpm-store-cache-${{ github.run_id }}-${{ github.run_attempt }}
