name: Publish registry
on:
  schedule:
    # https://crontab.guru/#0_0_*_*_0
    - cron: 0 0 * * 0
  workflow_dispatch:

env:
  CI: true
  PNPM_CACHE_FOLDER: .pnpm-store

concurrency: publish-packages

jobs:
  publish-registry:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 'lts/*'
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - run: pnpm config set store-dir $PNPM_CACHE_FOLDER
      - run: pnpm install --frozen-lockfile
      - run: pnpm build
      - uses: actions/cache/restore@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ./cache
          key: pacote-cache-${{ github.run_id }}-${{ github.run_attempt}}
          restore-keys: pacote-cache-
      - name: Publish registry
        run: pnpm run --filter @definitelytyped/publisher publish-registry
        env:
          NPM_TOKEN: ${{ secrets.NPM_RETAG_TOKEN }}
      - if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          path: packages/definitions-parser/data/
      - uses: actions/cache/save@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        if: always()
        with:
          path: ./cache
          key: pacote-cache-${{ github.run_id }}-${{ github.run_attempt}}
