name: Publish registry
on:
  schedule:
    # https://crontab.guru/#0_0_*_*_0
    - cron: 0 0 * * 0
  workflow_dispatch:

env:
  CI: true
  PNPM_CACHE_FOLDER: .pnpm-store

concurrency: publish-packages

jobs:
  publish-registry:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 'lts/*'
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - run: pnpm config set store-dir $PNPM_CACHE_FOLDER
      - run: pnpm install --frozen-lockfile
      - run: pnpm build
      - uses: actions/cache/restore@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ./cache
          key: pacote-cache-${{ github.run_id }}-${{ github.run_attempt}}
          restore-keys: pacote-cache-
      - name: Publish registry
        run: pnpm run --filter @definitelytyped/publisher publish-registry
        env:
          NPM_TOKEN: ${{ secrets.NPM_RETAG_TOKEN }}
      - if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          path: packages/definitions-parser/data/
      - uses: actions/cache/save@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        if: always()
        with:
          path: ./cache
          key: pacote-cache-${{ github.run_id }}-${{ github.run_attempt}}
