name: Update ts* tags for ATA

# For testing
# on: pull_request

# For production
on:
  workflow_dispatch:
    inputs:
      checkout:
        description: ref to deploy
        required: true
        default: main
  schedule:
    # https://crontab.guru/#5_6_*_*_0
    - cron: "5 6 * * 0"

concurrency: publish-packages

env:
  CI: true

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
      with:
        node-version: 'lts/*'
    - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
    - name: Get pnpm cache info
      id: pnpm-cache
      shell: bash
      run: echo "store=$(pnpm store path)" >> $GITHUB_OUTPUT
    - uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        path: ${{ steps.pnpm-cache.outputs.store }}
        key: ${{ runner.os }}-pnpm-store-cache-${{ github.run_id }}-${{ github.run_attempt }}
        restore-keys: |
          ${{ runner.os }}-pnpm-store-cache-
    - run: pnpm install
    - run: pnpm build
    - run: git clone --depth 1 https://github.com/DefinitelyTyped/DefinitelyTyped ../DefinitelyTyped
    - run: pnpm install
      working-directory: ../DefinitelyTyped
    - name: retag
      run: node packages/retag/dist/index.js --path ../DefinitelyTyped
      env:
        NPM_TOKEN: ${{ secrets.NPM_RETAG_TOKEN }}
        GH_API_TOKEN: ${{ secrets.GH_API_TOKEN }}
 